body {
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nail {
    margin-top: 5rem;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background: deepskyblue;
    box-shadow: 0 0 8px 2px deepskyblue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: hangingRotate 3s linear infinite;
}

.nail::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 2px;
    background-color: deepskyblue;
    height: 50px;
    width: 5px;
    z-index: -1;
}

.nail::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 2px;
    background-color: deepskyblue;
    height: 50px;
    width: 5px;
    z-index: -1;
}

.hanging-image {
    height: 360px;
    width: 260px;
    cursor: pointer;
    z-index: 10;
    margin-top: 3rem;
}

.hanging-image img {
    height: 100%;
    width: 100%;
    transition: 0.3s;
    border-radius: 10px;
}

@keyframes hangingRotate {
    0%, 100% { transform: rotate(5deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(-5deg); }
}