* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #1a1a1a;
}

button {
    padding: 20px 48px;
    font-size: 44px;
    position: relative;
    background: transparent;
    color: #ffa500;
    text-transform: uppercase;
    border: 3px solid #ffa500;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    border-radius: 100px;
}

button:hover {
    color: #1a1a1a;
}

span {
    transition: all 0.2s;
}

button .left {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background: blue;
}

button:hover .left {
    top: 0;
    right: 0;
}

button .top {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    width: 25%;
    background: red;
}

button:hover .top {
    top: 0;
    left: 50%;
}

button .bottom {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: yellow;
}

button:hover .bottom {
    top: 0;
    left: 25%;
}

button .right {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: pink;
}

button:hover .right {
    top: 0;
    left: 0;
}